.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  .left-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .branch-selector {
      margin-right: 5px;
    }

    .search-bar {
      min-width: 500px;
    }
  }

  .right-section {
    .create-badge {
      width: auto;
    }
  }
}