.viewer-page-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.file-explorer-container {
  height: 100%;
  width: 100%;

  .branch-selector-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.418);
    margin-bottom: 5px;
    width: 100%;
  }

  .explorer {
    height: calc(100% - 48px);
    width: 100%;
    overflow: auto;
  }
}

.file-viewer-container {
  flex: 1 0 auto;
  height: 100%;
  width: 100%;
  overflow: auto;
}
