.viewer-page-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.file-explorer-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.file-viewer-container {
  flex: 1 0 auto;
  height: 100%;
  width: 100%;
  overflow: auto;
}
